<section class="py-3" id="expenses">
  <div class="container px-5 my-2">

  <% if user_signed_in? %>

    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
            <h2 class="fw-bolder">
               Spending of <%= current_user.login %> 
            </h2>                             
        </div>
      </div>
    </div>         
  <% else %> 
        <p> Not User </p>   
  <% end %>
  </div>   

    
  <div class="container px-5 my-2"> 
    <div class="row gx-5 ">
      <div class="col">
    
          <div class="card shadow">
            <div class="card-header shadow">
                  <div class="container">
                    <div class="row align-items-center justify-content-between">
                      <div class="col-4 align-items-center">
                        Total amount: <%= total_expenses_amount %>
                      </div>
                      <div class="col-auto">
                        <%= link_to "Add new", new_expense_path, class: "btn btn-primary"  %>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="card-body border-bottom mb-3"> 
              <div class="container" >
                <div class="row justify-content-start">
                    <div class="col-auto align-items-center">
                      <label for="categories" class="form-label">Categories</label>
                    </div>
                    <div class="col-auto">
                      <%=select_tag "categories", options_from_collection_for_select(categories, "id", "name"), include_blank: "All", class: "category form-select" %>
                    </div>
                  <div class="col-auto align-items-center">
                    <label for="amount" class="form-label">Amount</label>
                  </div>
                  <div class="col-auto">
                    <%=number_field_tag "amount_min", nil, placeholder: 'Enter min value...'  %>
                  </div>
                  <div class="col-auto">
                    <%=number_field_tag "amount_max", nil, placeholder: 'Enter max value...'  %>
                  </div>
                </div>
              </div>
            </div>


            <div id="expenses_list"><%= render "expenses_list", expenses: expenses %></div>

            <div class="card-footer text-muted">
                2 days ago
            </div>     
          </div>

      </div>   
    </div>
  </div>
</section>                

<script>
    $('.category').on('change', function(){
        $.ajax({
            url: 'expenses',
            type: 'GET',
            dataType: 'script',
            data: { category_id: $(this).val() }
        });
    });

    $('#amount_min').focusout(function(){
        $.ajax({
            url: 'expenses',
            type: 'GET',
            dataType: 'script',
            data: { amount: { min: $(this).val() } }
        });
    });
    $('#amount_max').focusout(function(){
        $.ajax({
            url: 'expenses',
            type: 'GET',
            dataType: 'script',
            data: { amount: { max: $(this).val() } }
        });
    });
</script>
